
body{
  text-align: center;
  background-color: #a83e32;
}
.gallery{ align-content: center;
  display: flex;
  flex-direction: column;
    flex-flow: column wrap;
    height: 1000px;
    width: 80%;
    margin: auto;
}


.image{
width: 20%;
height: auto;
margin: 5px;
}

h1{
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
  margin-top:30px;
  font-size: 20px;
  color: white;
}

h2{
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 15px;
  color: white;
}
